extends layout 

block content
  h1 Timestamp API Microservice
  p.blue Example Usage
  code https://timestamp-api-ms.herokuapp.com/February 22, 2017
  br
  code https://timestamp-api-ms.herokuapp.com/1487721600
  p.blue Expected Output is JSON
  code { "unix": "1487721600", "natural": "February 22, 2017" }